<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <meta name="description" content="" />
      <title>Show Tracker: Edit Show</title>

      <link
        rel="canonical"
        href="https://getbootstrap.com/docs/4.5/examples/album/"
      />

      <!-- Bootstrap core CSS -->
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
      />

      <!-- custom stylesheet -->
      <link href="css/styles.css" rel="stylesheet" />
      <!-- Custom styles for this template 
      <link href="css/album.css" rel="stylesheet" /> -->
    </head>
    <body style="background-color: rgb(175, 189, 204);">
      <%- include('common/header'); -%>
      <div class="container">
        <h1 class="text-center">Edit a Show</h1>
        <div class="row justify-content-md-center">
          <div class="col-">
            <form method="POST"> 
              <div class="form-group">
                <label for="name">Show Title</label>
                <input
                  value="<%= show.title %>"
                  type="text"
                  class="form-control"
                  id="title"
                  placeholder="Enter Title"
                  name="title"
                />
                <% if (errors['title'] ){%>
                  <p style="color: red"><%= errors['title'].message %></p>
                <%} %>
              </div>
              <div class="form-group">
                <label for="synopsis">Synopsis</label>
                <input
                  value="<%= show.synopsis %>"
                  type="text" 
                  name="synopsis" 
                  class="form-control" 
                  id="synopsis" 
                />
                <% if (errors['synopsis'] ){%>
                  <p style="color: red"><%= errors['synopsis'].message %></p>
                <%} %>
              </div>
              <div class="form-group">
                <label for="genre">Genre</label>
                <input
                  value="<%= show.genre %>"
                  type="text" 
                  name="genre" 
                  class="form-control" 
                  id="genre" 
                />
              </div>
              <div class="form-group">
                <label for="progress">Progress</label>
                <input 
                  value="<%= show.progress %>"
                  type="text" 
                  name="progress" 
                  class="form-control" 
                  id="progress" 
                />
              </div>
              <div class="form-group">
                <label for="review">Review</label>
                <input 
                  value="<%= show.review %>"
                  type="number" 
                  name="review" 
                  class="form-control" 
                  id="review" 
                />
                <% if (errors['review'] ){%>
                  <p style="color: red"><%= errors['review'].message %></p>
                <%} %>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </body>
  </html>
</html>
