<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <!-- Page title shown on tab -->
    <title>Show Tracker: Home</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/album/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- custom stylesheet -->
    <link href="css/styles.css" rel="stylesheet" />
    <!-- Custom styles for this template 
    <link href="css/album.css" rel="stylesheet" /> -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
  </head>

  
  <body>
    <!-- imports header from common folder -->
    <%- include('common/header'); -%>

    <main role="main">

      <!-- main homepage banner -->
      <section class="jumbotron text-center" style="background-color: #f1e644">
        <div class="container">
          <h1>Track the TV Shows You Love</h1>
          <p class="lead text-muted">Browse, Review and Manage.</p>
          <h2>
            Your favourite shows, <strong>your way</strong>
          </h2>
        </div>
      </section>
      
      <!-- div for general homescreen content -->
      <!-- left div - image -->
      <!-- right div 
          - general text if no user logged in 
          - form to select and display favoutite TV show if there is a user logged in-->
      <div id="div-home-secondary-content">
        <div class="row">

          <!-- homepage image on left -->
          <div class="left">
            <img id="home-image-left" src="images/crt_bench2.jpg" alt="Photo of a CRT TV" />
          </div>          
          
          <!-- homepage favourite show interation on the right -->
          <div class="right">

            <!-- below code runs only if a user is logged in -->
            <%
              if(user){
            %>
              <!-- heading for favourite show form -->
              <h3 style="color: Black">Display Your Favourite Show!</h3>
              <form name="dropForm">
                <!-- if any changes are detected in the select field, the fucntion 'showDropInfo' is run -->
                <select id="dropSelect" onchange="showDropInfo()">
                  <option disabled selected> -- Select an Option -- </option>
                  <!-- cycles through each show to display in dropdown menu -->
                  <!-- only displays shows assigned to logged in user -->
                  <!-- saves values of various IDs as strings to compare to one another -->
                  <%
                    myShows.forEach(show => {
                      currentUserID = user._id;
                      currentUserIDStr = currentUserID.toString();
                      showUserID = show.user_id;
                      showUserIDStr = showUserID.toString();
                      if (currentUserIDStr == showUserIDStr) {
                  %>
                        <!-- displays show for current iteration value, passing extra values in a singular string -->
                        <option 
                          value="<%= show.title %>,<%= show.synopsis %>,<%= show.review %>" 
                        >
                          <%= show.title %>
                        </option>
                  <%  
                      };
                    });
                  %>
                </select>
              </form>
              <br>
              <!-- blank h5 set up to inject code from function if user selects an option -->
              <h5 style="color: Black" id="pF"></h5>

              <script>                
                function showDropInfo() {

                  // retrieves passed in values from selected option
                  var vals = document.getElementById('dropSelect').value;
                  // splits the string at each comma and saves each value as its own in a new array
                  var arrayVals = vals.split(",");
                  // creates an array for each heading using same method as above
                  var headings = '<br><strong>Favourite Show: </strong>,<br><strong>Synopsis: </strong>,<br><strong>Review: </strong>';
                  var arrayHeadings = headings.split(",");
                  // sets up blank variable to store compiled string
                  var sT='';
                  // cycles through both arrays adding values to the previous blank variable 'sT' 
                  for(i=0;i<arrayVals.length;i++){
                    sT = sT + arrayHeadings[i] + arrayVals[i];
                  }
                  // adds '/10' to the end of the string to for the review rating
                  sT = sT + '/10';
                  // injects compiled string into blank h5 created above function
                  document.getElementById('pF').innerHTML=sT;
                }
              </script>

            <!-- if no user is logged in, below code is executed -->
            <%
              };
              if(!user){
            %>
                <!-- information is displayed to user -->
                <br>
                <br>
                <h3 style="color: Black"><strong>Gone are the days where you can't</strong></h3>
                <h3 style="color: Black"><strong>remember the last show you watched</strong></h3>
                <br>
                <h3 style="color: Black"><strong>Gone are the days of</strong></h3>
                <h3 style="color: Black"><i>"What episode am I on?"</i></h3>
                <h3 style="color: Black"><i>"Was that show any good?"</i></h3>
            <%
              };
            %>
          </div>
        </div>
      </div>
    </main>
    <!-- imports footer from common folder -->
    <%- include('common/footer'); -%>
  </body>
</html>
