<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Show Tracker: My Shows</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.5/examples/album/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- custom stylesheet -->
    <link href="css/styles.css" rel="stylesheet" />
    <!-- Custom styles for this template 
    <link href="css/album.css" rel="stylesheet" /> -->
  </head>
  <body style="background-color: rgb(175, 189, 204);">
    <%- include('common/header'); -%>
    <div class="container">

        <% if (message) { %>


        <div class="row col-md-12 mx-auto">
          <div class="alert alert-success" role="alert">
            <%= message %>
          </div>
        </div>

        <%} %>
        
        
        
        <div class="row col-md-12 col-md-offset-2 custyle mx-auto">
        
        <a href="/add-show?"> <button type="button" class="btn btn-info">Create a new show</button> </a>
        <h1 class="mx-auto"> My Shows  </h1>
      
        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Synopsis</th>
                <th>Genre</th>
                <th>Progress</th>
                <th>Review</th>

            </tr>

            <%  
            
              myShows.forEach(show => {
                console.log("User id is " + user._id + "   show user is " + show.user_id)

                currentUserID = user._id;
                currentUserIDStr = currentUserID.toString();
                showUserID = show.user_id;
                showUserIDStr = showUserID.toString();
                if (currentUserIDStr == showUserIDStr) {
                  
            %>

                  <tr class="text-dark">
                      <td><%=  show._id  %></td>
                      <td><%=  show.title  %></td>
                      <td><%=  show.synopsis  %></td>
                      <td><%=  show.genre  %></td>
                      <td><%=  show.progress %></td>
                      <td><%=  show.review  %>/10</td>
                      
                      <td class="text-center"><a href="/my-shows/edit/<%= show._id %>"class='btn btn-outline-success btn-xs'><span class="glyphicon glyphicon-edit"></span> Edit</a> 
                        <a  href="/my-shows/delete/<%= show._id %>" class="btn btn-outline-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
                      
                  </tr>
                
            <%  
                };
              });
            %>


          
        </thead>
              
      </table>

        
    </div>
    
  
    <%- include('common/footer') -%>
  </body>
</html>
